<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
      <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.css" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.min.css" />
      <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
  </head>

  <body>
      <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
          <!--<a class="navbar-brand" href="/info/index">Q-pon</a>-->
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
              <!--<span class="navbar-toggler-icon"></span>-->
          <!--</button>-->
          <!--<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
              <!--<div class="navbar-nav">-->
                  <!--<a class="nav-item nav-link" href="/info/index">Home<span class="sr-only">(current)</span></a>-->
                  <!--<a class="nav-item nav-link" href="/info/search">Search</a>-->
                  <!--<a class="nav-item nav-link" href="/info/create">Create</a>-->
                  <!--<a class="nav-item nav-link" href="/info/admin">Admin</a>-->
                  <!--<label class="nav-item nav-link" >Welcome visitor<a href="/info/index">[Login]</a></label>-->
              <!--</div>-->
          <!--</div>-->
      <!--</nav>-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="/info/index">Q-pon</a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/info/index">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/info/search">Search</a>
                  </li>
                  <% if (username == "admin"){ %>
                      <li class="nav-item">
                          <a class="nav-link" href="/info/create">Create</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/info/admin">Admin</a>
                      </li>
                  <%}%>
                  <% if (username != "admin" && username != "Visitor"){ %>
                      <li class="nav-item">
                          <a class="nav-link" href="/info/my_coupons">My Coupons</a>
                      </li>
                  <%}%>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <label class="nav-link" >Welcome, <%= username %>!</label>
                  <% if (username == "Visitor"){ %>
                    <a class="btn btn-outline-success my-2 my-sm-0"href="/user/login">Login</a>
                  <%}else{%>
                    <a class="btn btn-outline-success my-2 my-sm-0"href="/user/logout">Logout</a>
                  <%}%>
             </form>
          </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-4">Q-pon</h1>
              <p class="lead">Redeem your coins for dining coupons</p>
          </div>
      </div>
      <div class="container">
          <br><br>

          <%- body %>
      </div>
    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
  <script type="text/javascript">
      $('#datepicker').datepicker({
          daysOfWeekDisabled: [0,6]
      });
      $('#coins').ionRangeSlider({
          min:0,
          max:1000,
          from: 500,
          to: 700,
          type: 'double',
          prefix: "$",
          grid: true,
          grid_num: 10
      });
  </script>
</html>
