<div class="card text-center">
    <div class="card-header">
        Alert Message
    </div>
    <div class="card-body">
        <h5 class="card-title">Logout Success</h5>
        <p class="card-text">Click button to back to the page</p>
        <a href="/info/redirect/3" class="btn btn-primary">Confirm</a>
    </div>
    <div class="card-footer text-muted">
        Success
    </div>
</div>